/* Seccion "Categorias" */

.card-categorias {
    margin-top: 30px;
    margin-bottom: 30px;
}


.border-color {
    border-color: var(--background-cards);
}

.h-cards {
    height: 175px;
}

.card:hover {
    border: solid var(--background-cards) 3px;
}

/* Seccion "Ofertas" */

.seccion-ofertas {
    background-color: var(--background-sections);
}   

/* Seccion "Info" */

.iconito {
    font-size: 70px;
}

.linkTituloCategoria{
    text-decoration: none;
}
.img-contacto{
    width: 80%;
    height: 45%;
}
.boton{
    color: var(--color-letters);
    width: 150px !important;
    margin-top: 5%;
}