/* Seccion "Categorias" */

.card-categorias {
    margin-top: 30px;
    margin-bottom: 30px;
}


.border-color {
    border-color: var(--background-cards);
}

.h-cards {
    height: 175px;
}

.card:hover {
    border: solid var(--background-cards) 3px;
}

/* Seccion "Ofertas" */

.seccion-ofertas {
    background-color: var(--background-sections);
}   

/* Seccion "Info" */

.iconito {
    font-size: 70px;
}

.linkTituloCategoria{
    text-decoration: none;
}

.imagenCategoria{
    border-top-left-radius: 19px !important;
    border-top-right-radius: 19px !important;

}