<<<<<<< HEAD
/* .carrito{
    font-size: 20px;
}

.form{
    margin-left: 200px;
}

.cuenta_carrito{
    margin-left: 170px;
    
} */
/* ///////////// */
/* .navbar{
    background-color: #87C0CD;
} */

/* .buscador{

}
  */


  /* /////////// */

/* .fondoCarrito{
    background-color: #F3F9FB;
    border-radius: 10px;
    border: 1px solid black;
} 

.categorias{
    color: black !important;
} */

.cuenta_carrito{
    display: flex;
    justify-content: end !important;
=======
.fondo-header{
    height: 600px;
    background-image: url('../../assets/img/header.jpg');
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 110%;
    display: flex;
}
/* .title{

} */
.btn-contact{
    height: max-content;
>>>>>>> eb55db3e931c0d3c1d403852fe05b3557f86b2b7
}