.fondo-header{
    height: 600px;
    background-image: url('../../assets/img/header.jpg');
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 110%;
    display: flex;
}
/* .title{

} */
.btn-contact{
    height: max-content;
}