.barraNavegacion{
    background-color: var(--background-pages);
    padding-top: 20px;
    margin-right: 0 !important;
}

.buscador{
    border: 2px solid var(--color-letters) !important;
    width: 400px;
    height: 60%;
    border-radius:15px !important;
}

.buscar{
    border-radius: 10px;
    background-color:var( --background-sections);
    border: 2px solid var(--background-cards);
    color: var(--background-cards);
    height: 60%;
    width: 20%;
}

.miCuenta{
    text-decoration: none;
    color: var(--color-letters) !important;
    font-size: 20px;

}
.persona{
    float: left;
}

.carrito{
    font-size: 30px;
    color:var(--color-letters) ;
}

.categorias{
    color: #113F67 !important;
}

.login-button {
    color: var(--color-letters);
    border: 2px solid var(--color-letters);
    border-radius: 6px;
    padding: 7px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
