.barraNavegacion{
    background-color: var(--background-pages);
    padding-top: 20px;
    margin-right: 0 !important;
}

.buscador{
    border: 2px solid var(--color-letters) !important;
    width: 100px;
    height: 60%;
    border-radius:15px !important;
}

.buscar{
    border-radius: 10px;
    background-color:var( --background-sections);
    border: 2px solid var(--background-cards);
    color: var(--background-cards);
    height: 60%;
    width: 100%;
}

.miCuenta{
    text-decoration: none;
    color: var(--color-letters) !important;
    font-size: 20px;

}
.persona{
    float: left;
}

.carrito{
    font-size: 30px;
    color:var(--color-letters) ;
}

.categorias{
    color: #113F67 !important;
}
