.precio{
    display: flex;
    align-items: flex-end !important;
}

.cardGeneral{
    border: 3px solid var(--background-cards) !important;
    height: 100% !important;
    
}

.nombreProducto, .precio{
    font-size: 30px;
    color: var( --color-letters);
    
}

.botonAgregar{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: var(--background-cards);
    color: white;
}

.img{
    width: 50%;
    height: 50%;
}
